---
import { Image } from "astro:assets";
import HeroImg from "../assets/images/hero.jpg";
import Button from "./Button.astro";
---

<section class="container mx-auto min-h-screen flex items-center">
  <div
    class="flex flex-col gap-20 md:gap-0 md:flex-row md:justify-between items-center md:items-start"
  >
    <div class="flex flex-col gap-8 md:w-1/2">
      <div
        class="flex flex-col gap-3 font-medium text-center md:text-left md:mt-10"
      >
        <h1 class="text-3xl md:text-5xl">Hi 👋</h1>
        <h1 class="text-3xl md:text-5xl">
          I'm <span class="font-bold underlineText">Tejaswan</span>
        </h1>
      </div>
      <p class="text-sm text-center md:text-left md:text-base">
        I am a software engineer with over 1 year of experience in developing
        web and mobile applications. I have a passion for creating innovative
        solutions that solve real-world problems and enhance user experience.
      </p>
      <div class="mx-auto md:mx-0">
        <Button
          title="Resume"
          href="https://drive.google.com/file/d/1IhdAOP6xTkaWlcApjwj7baC_byQ2Ep0L/view?usp=sharing"
        />
      </div>
    </div>
    <div>
      <Image
        src={HeroImg}
        alt="Hero Image"
        height={300}
        width={300}
        class="rounded-lg"
      />
    </div>
  </div>
</section>
<style>
  .underlineText {
    display: inline-block;
    background-image: url("underline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 5px;
  }
</style>
