---
import ProjectCard from "./ProjectCard.astro";
---

<section class="container mx-auto mt-20 mb-10">
  <div class="flex justify-center md:justify-start">
    <h1
      class="font-lexend font-bold text-xl md:text-3xl tracking-widest underline"
    >
      Projects
    </h1>
  </div>
  <div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-5">
    <ProjectCard
      title="BookMyShow Ticket Notifier"
      githubLink="https://github.com/tejaswankalluri/BookMyShow-Notifier"
      liveLink="https://t.me/notifymyshowbot"
    />
    <ProjectCard
      title="HeedTalk - A Debate App"
      liveLink="https://heedtalk.com"
    />
    <ProjectCard
      title="LinkIt - share your social media links"
      githubLink="https://github.com/tejaswankalluri/LinkIt-Frontend"
      liveLink="https://linkit.tejaswan.me/"
    />
    <ProjectCard
      title="Url Shortner"
      githubLink="https://github.com/tejaswankalluri/react-url-shortner"
      liveLink="https://react-url-shortner.netlify.app/"
    />
  </div>
</section>
