---
import ProjectCard from "./ProjectCard.astro";
---

<section class="container mx-auto mt-40 mb-10" id="project">
  <div class="flex justify-center md:justify-start">
    <h1 class="font-libre font-normal text-4xl md:text-5xl tracking-widest">
      Projects
    </h1>
  </div>
  <div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-5">
    <ProjectCard
      title="BookMyShow Ticket Notifier"
      githubLink="https://github.com/tejaswankalluri/BookMyShow-Notifier"
      liveLink="https://t.me/notifymyshowbot"
    />
    <ProjectCard
      title="HeedTalk - A Debate App"
      liveLink="https://heedtalk.com"
    />
    <ProjectCard
      title="LinkIt - share your social media links"
      githubLink="https://github.com/tejaswankalluri/LinkIt-Frontend"
      liveLink="https://linkit.tejaswan.me/"
    />
    <ProjectCard
      title="Url Shortner"
      githubLink="https://github.com/tejaswankalluri/react-url-shortner"
      liveLink="https://react-url-shortner.netlify.app/"
    />
  </div>
</section>
