---
import ProjectCard from "./ProjectCard.astro";
---

<section class="container mx-auto mt-20 mb-10">
  <div class="flex justify-center md:justify-start">
    <h1
      class="font-lexend font-bold text-xl md:text-3xl tracking-widest underline"
    >
      Projects
    </h1>
  </div>
  <div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-5">
    <ProjectCard
      title="Buyleaf - A Ecommerce Application"
      githubLink="https://github.com"
    />
    <ProjectCard
      title="Buyleaf - A Ecommerce Application"
      githubLink="https://github.com"
    />
    <ProjectCard
      title="Buyleaf - A Ecommerce Application"
      githubLink="https://github.com"
    />
    <ProjectCard
      title="Buyleaf - A Ecommerce Application"
      githubLink="https://github.com"
    />
  </div>
</section>
