---
import TechStack from "./TechStackComponent.astro";
---

<section class="container mx-auto mt-2 mb-52">
  <div class="flex justify-center md:justify-start mb-16">
    <h1
      class="font-lexend font-bold text-xl md:text-3xl tracking-widest underline"
    >
      Tech Stack
    </h1>
  </div>
  <div class="flex justify-center gap-3 flex-wrap">
    <TechStack icon="devicon-react-original colored" text="React" />
    <TechStack icon="devicon-javascript-plain colored" text="Javascript" />
    <TechStack icon="devicon-html5-plain colored" text="Html" />
    <TechStack icon="devicon-css3-plain colored" text="CSS" />
    <TechStack icon="devicon-nodejs-plain colored" text="Node js" />
    <TechStack
      icon="devicon-tailwindcss-original colored"
      text="Tailwind css"
    />
    <TechStack icon="devicon-postgresql-plain colored" text="Postgresql" />
    <TechStack icon="devicon-mongodb-plain colored" text="MongoDB" />
    <TechStack icon="devicon-nextjs-plain" text="Next js" />
    <TechStack icon="devicon-react-original" text="React Native" />
    <TechStack icon="devicon-mysql-original" text="MySql" />
    <TechStack icon="devicon-java-plain colored" text="Java" />
    <TechStack icon="devicon-go-original-wordmark colored" text="GoLang" />
    <TechStack icon="devicon-docker-plain colored" text="Docker" />
    <TechStack icon="devicon-kubernetes-plain colored" text="Kubernetes" />
    <TechStack icon="devicon-redis-plain colored" text="Redis" />
    <TechStack icon="devicon-vscode-plain colored" text="Vs Code" />
    <TechStack icon="devicon-typescript-plain colored" text="Typescript" />
    <TechStack icon="devicon-linux-plain" text="Linux" />
    <TechStack icon="devicon-figma-plain" text="Figma" />
    <TechStack
      icon="devicon-amazonwebservices-plain-wordmark colored"
      text="AWS"
    />
  </div>
</section>
