---

---

<section class="container mx-auto mt-2 mb-10">
  <div class="flex justify-center md:justify-start">
    <h1
      class="font-lexend font-bold text-xl md:text-3xl tracking-widest underline"
    >
      Work
    </h1>
  </div>
  <div class="flex flex-col gap-16 mt-16">
    <div class="flex flex-col gap-3 items-center md:items-start">
      <h1 class="text-xl md:text-2xl font-bold">Oneleb Ventures</h1>
      <h2 class="text-lg md:text-xl">Software Development Engineer - 1</h2>
      <p class="font-light -mt-2">Apr, 2023 - Present</p>
      <ul class="list-disc pl-10 leading-8">
        <li>
          Onelab Ventures is a B2B startup, helps in Building MVP products for
          customers. Built 50+ projects in last 3 years
        </li>
        <li>
          Worked Independently and Delivered 3 projects in the last 10 months.
          Built End-to-End Applications, like HeedTalk, Cinetrade deployed on
          play store.
        </li>
        <li>
          Tech Stack: Node js, React js, Next js, React Native, AWS Lamda, Azure
          Pipeline, Docker
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-3 items-center md:items-start">
      <h1 class="text-xl md:text-2xl font-bold">Fedsea Technologies Pvt Ltd</h1>
      <h2 class="text-lg md:text-xl">Back End Developer Intern</h2>
      <p class="font-light -mt-2">Dec, 2021 - Feb, 2022</p>
      <ul class="list-disc pl-10 leading-8">
        <li>
          Designed User authentication Microservice with JWT and OAuth providers
          and Built a Custom OTP service using Sendgrid API. Improved OTP
          microservice by using a Rabitmq message queue.
        </li>
        <li>
          Built a Careers Microservices in Node Js and PostgreSQL where Users
          can post jobs on the portal and recruit people. used the
          object-oriented approach in Node Js ES6.
        </li>
        <li>
          Optimized the Backend Microservices by using VPS intercommunication
          and containerizing the microservices using Docker and Kubernetes
        </li>
        <li>
          Learned technologies like Node Js, microservices, Docker, Sequelize
          ORM, Kubernetes, PostgreSQL, S3 bucket
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-3 items-center md:items-start">
      <h1 class="text-xl md:text-2xl font-bold">Cactus Solutions</h1>
      <h2 class="text-lg md:text-xl">Web Developer Intern</h2>
      <p class="font-light -mt-2">Aug, 2021 - Nov,2021</p>
      <ul class="list-disc pl-10 leading-8">
        <li>
          Migrated the Home page of cactus solutions to a new UI using React Js
          implemented React best practices for best performance.
        </li>
        <li>
          Built a mailing service in the backend using Node JS, Redis as a
          message queue. And a Headless CMS system using Strapi for the careers
          page.
        </li>
        <li>
          Built a CI/CD pipeline using Github actions to deploy the application
          into the Google Cloud Platform.
        </li>
      </ul>
    </div>
  </div>
</section>
