---
interface Props {
  title: string;
}
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
// import "../styles/devicon.min.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-tuatara-950">
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Montserrat", sans-serif;
    background: #191919;
    color: #f6f6f6;
  }
  .font-lexend {
    font-family: "Lexend Zetta", sans-serif;
  }
</style>
